{% extends "base.html" %}
{% load static %}

{% block title %}Overview{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
        <section class="pf-c-page__main-section pf-m-light">
            <div class="pf-c-content">
              <h1>Reliant Parties</h1>
            </div>
          </section>
        <section class="pf-c-page__main-section">
            <div class="pf-l-gallery pf-m-gutter">
                {% for key, value in parties_count.items %}
              <div class="pf-l-gallery__item">
                {% if value.count > 0 %}
                <a href="{% url 'management:parties' key %}">
                {% endif %}
                <div class="pf-c-card">
                    <div class="pf-c-card__header pf-c-title pf-m-md">
                        {{ key }}
                    </div>
                    <div class="pf-c-card__body">
                      {{ value.count }}
                    </div>
                </div>
                {% if value.count > 0 %}
                </a>
                {% endif %}
              </div>
              {% endfor %}
              <div class="pf-l-gallery__item">
                  <a href="{% url 'management:partycreateupdate' %}">
                  <div class="pf-c-card">
                      <div class="pf-c-card__header pf-c-title pf-m-md">
                          Add New
                      </div>
                      <div class="pf-c-card__body">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                      </div>
                  </div>
                  </a>
                </div>
            </div>
          </section>
          <section class="pf-c-page__main-section pf-m-light">
              <div class="pf-c-content">
                <h1>Providers</h1>
              </div>
          </section>
          <section class="pf-c-page__main-section">
              <div class="pf-l-gallery pf-m-gutter">
                <div class="pf-l-gallery__item">
                    {% if providers_count.count > 0 %}
                    <a href="{% url 'management:providers' %}">
                    {% endif %}
                  <div class="pf-c-card">
                      <div class="pf-c-card__header pf-c-title pf-m-md">
                        Providers
                      </div>
                      <div class="pf-c-card__body">
                        {{ providers_count.count }}
                      </div>
                  </div>
                  {% if value.count > 0 %}
                  </a>
                  {% endif %}
                </div>
                <div class="pf-l-gallery__item">
                    <a href="{% url 'management:providercreateupdate' %}">
                    <div class="pf-c-card">
                        <div class="pf-c-card__header pf-c-title pf-m-md">
                            Add New
                        </div>
                        <div class="pf-c-card__body">
                          <i class="fas fa-plus" aria-hidden="true"></i>
                        </div>
                    </div>
                    </a>
                  </div>
              </div>
            </section>
    </div>
  </div>

</div>
{% endblock content %}

